Repository DarkflameUniverse/DarkflameServer, pull requests merged in 2022-07, with the labels that each got.

#345 Improve CI
  .github/workflows/build-and-test.yml
  CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: build, S-waiting-on-review

#619 Possessor and possessable additions
  dCommon/dCommonVars.h
  dCommon/eAninmationFlags.h
  dGame/Entity.cpp
  dGame/dComponents/PossessableComponent.cpp
  dGame/dComponents/PossessableComponent.h
  dGame/dComponents/PossessorComponent.h
  dGame/dComponents/RacingControlComponent.cpp
  dScripts/SGCannon.cpp
Labels: B-components

#647 Split itemType enum into it's own header
  dCommon/dCommonVars.h
  dCommon/eItemType.h
  dGame/dComponents/InventoryComponent.cpp
  dGame/dComponents/InventoryComponent.h
  dGame/dInventory/Inventory.cpp
Labels: enhancement, A-common

#655 Fix Model Component Serialization
  dCommon/dCommonVars.h
  dGame/Entity.cpp
  dGame/dComponents/DestroyableComponent.cpp
  dGame/dComponents/DestroyableComponent.h
  dGame/dComponents/ModelComponent.cpp
  dGame/dComponents/ModelComponent.h
  dGame/dComponents/PropertyManagementComponent.cpp
Labels: A-game, B-components, B-game-messages, B-Properties

#656 Enable _dynamic by default
  CMakeVariables.txt
Labels: build

#599 Add an AMF Deserializer as well as corresponding Unit Tests
  .gitignore
  dCommon/AMFDeserialize.cpp
  dCommon/AMFDeserialize.h
  dCommon/AMFFormat.h
  dCommon/CMakeLists.txt
  tests/AMFDeserializeTests.cpp
  tests/CMakeLists.txt
  tests/TestBitStreams/AMFBitStreamTest.bin
  tests/TestBitStreams/AMFBitStreamUnimplementedTest.bin
Labels: A-common, B-behaviors, B-game-messages

#663 General AMF cleanup
  dCommon/AMFDeserialize.cpp
  dCommon/AMFFormat.cpp
  dCommon/AMFFormat.h
  dCommon/AMFFormat_BitStream.cpp
  dCommon/AMFFormat_BitStream.h
  dGame/dComponents/DestroyableComponent.cpp
  dGame/dComponents/PropertyEntranceComponent.cpp
  dGame/dGameMessages/GameMessages.cpp
  dGame/dUtilities/SlashCommandHandler.cpp
  dScripts/BankInteractServer.cpp
  dScripts/MailBoxServer.cpp
  dScripts/NsLegoClubDoor.cpp
  dScripts/PropertyBankInteract.cpp
  dScripts/StoryBoxInteractServer.cpp
  dWorldServer/WorldServer.cpp
  tests/AMFDeserializeTests.cpp
Labels: A-common

#686 Fix missions re-ordering on reload
  dGame/dComponents/MissionComponent.cpp
  dGame/dComponents/MissionComponent.h
  dGame/dMission/Mission.cpp
  dGame/dMission/Mission.h
  dZoneManager/dZoneManager.cpp
  dZoneManager/dZoneManager.h
Labels: A-game, B-mission, B-components
