Repository DarkflameUniverse/DarkflameServer, pull requests merged in 2022-04, with the labels that each got.

#416 Fix MasterServer not always closing database connection on exit
  dMasterServer/MasterServer.cpp
Labels: S-waiting-on-review, A-exec

#415 Fix UserManager not logging chosen name properly
  dGame/UserManager.cpp
Labels: S-waiting-on-review, A-exec

#419 Improve GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/installation_issue.yaml
  .github/ISSUE_TEMPLATE/performance_issue.yaml
Labels: A-repo

#524 Added LootBuff behavior and serialization
  dGame/dBehaviors/AndBehavior.cpp
  dGame/dBehaviors/AndBehavior.h
  dGame/dBehaviors/Behavior.cpp
  dGame/dBehaviors/BehaviorContext.cpp
  dGame/dBehaviors/LootBuffBehavior.cpp
  dGame/dBehaviors/LootBuffBehavior.h
  dGame/dComponents/ControllablePhysicsComponent.cpp
  dGame/dComponents/ControllablePhysicsComponent.h
Labels: B-behaviors
