Repository DarkflameUniverse/DarkflameServer, pull requests merged in 2022-05, with the labels that each got.

#544 Add precondition get and set to PetComponent
  dGame/dComponents/PetComponent.cpp
Labels: B-components

#541 Component rocket launch lup
  dGame/Entity.cpp
  dGame/dComponents/RocketLaunchLupComponent.cpp
  dGame/dComponents/RocketLaunchLupComponent.h
  dGame/dGameMessages/GameMessages.cpp
  dScripts/BaseConsoleTeleportServer.cpp
  dScripts/CppScripts.cpp
  dScripts/SbLupTeleport.cpp
  dScripts/SbLupTeleport.h
Labels: B-components

#553 Add AM Teapot server
  dScripts/AmTeapotServer.cpp
  dScripts/AmTeapotServer.h
  dScripts/CppScripts.cpp
Labels: A-scripts

#549 Proper rocket Holding
  dGame/dComponents/CharacterComponent.cpp
  dGame/dComponents/CharacterComponent.h
  dGame/dComponents/InventoryComponent.cpp
  dGame/dComponents/PropertyEntranceComponent.cpp
  dGame/dComponents/RocketLaunchLupComponent.cpp
  dGame/dComponents/RocketLaunchpadControlComponent.cpp
  dGame/dComponents/RocketLaunchpadControlComponent.h
  dGame/dGameMessages/GameMessages.cpp
  dGame/dInventory/EquippedItem.h
  dWorldServer/WorldServer.cpp
Labels: B-components

#402 Added Comprehensive Slash Command Documentation
  docs/Commands.md
Labels: docs

#354 Sanitize SQL Queries to CDClient.sqlite
  dDatabase/CDClientDatabase.cpp
  dDatabase/CDClientDatabase.h
  dDatabase/Tables/CDBehaviorParameterTable.cpp
  dGame/dBehaviors/Behavior.cpp
  dGame/dBehaviors/SwitchMultipleBehavior.cpp
  dGame/dComponents/BaseCombatAIComponent.cpp
  dGame/dComponents/BuffComponent.cpp
  dGame/dComponents/DestroyableComponent.cpp
  dGame/dComponents/InventoryComponent.cpp
  dGame/dComponents/MissionComponent.cpp
  dGame/dComponents/PetComponent.cpp
  dGame/dComponents/PropertyManagementComponent.cpp
  dGame/dComponents/RenderComponent.cpp
  dGame/dComponents/RocketLaunchpadControlComponent.cpp
  dGame/dComponents/SkillComponent.cpp
  dGame/dGameMessages/GameMessages.cpp
  dGame/dInventory/Item.cpp
  dGame/dInventory/ItemSet.cpp
  dGame/dUtilities/Preconditions.cpp
  dGame/dUtilities/SlashCommandHandler.cpp
  dWorldServer/WorldServer.cpp
  dZoneManager/dZoneManager.cpp
Labels: S-waiting-on-review, S-waiting-on-decision, A-database

#563 (Resubmit) Leaderboard Updates and Bug Fixes
  dGame/LeaderboardManager.cpp
  dGame/LeaderboardManager.h
  resources/worldconfig.ini
Labels: A-game

#458 Update Docker.md with buildkit and submodule notes.
  Docker.md
Labels: A-docker

#379 Add instructions on solving missing DLL issue
  README.md
Labels: docs

#568 Fix overrides in ActMine
  dScripts/ActMine.h
Labels: A-scripts
