Repository DarkflameUniverse/DarkflameServer, pull requests merged in 2025-01, with the labels that each got.

#1707 fix: property entrance component optional
  dDatabase/GameDatabase/MySQL/Tables/Property.cpp
Labels: A-database

#1708 fix: Add missing racing scripts
  dGame/dComponents/PhysicsComponent.cpp
  dGame/dComponents/RacingControlComponent.cpp
  dGame/dComponents/RacingControlComponent.h
  dScripts/CppScripts.cpp
  dScripts/ai/RACING/CMakeLists.txt
  dScripts/ai/RACING/OBJECTS/CMakeLists.txt
  dScripts/ai/RACING/OBJECTS/VehicleDeathTriggerWaterServer.cpp
  dScripts/ai/RACING/OBJECTS/VehicleDeathTriggerWaterServer.h
  dScripts/ai/RACING/TRACK_FV/CMakeLists.txt
  dScripts/ai/RACING/TRACK_FV/FvRaceServer.cpp
  dScripts/ai/RACING/TRACK_FV/FvRaceServer.h
  dScripts/ai/RACING/TRACK_GF/CMakeLists.txt
  dScripts/ai/RACING/TRACK_GF/GfRaceServer.cpp
  dScripts/ai/RACING/TRACK_GF/GfRaceServer.h
Labels: A-scripts

#1709 fix: first attack being weaponless
  dGame/dGameMessages/GameMessageHandler.cpp
Labels: B-entity, B-game-messages

#1691 feat: Replace calls to system function in server startups
  README.md
  dAuthServer/AuthServer.cpp
  dAuthServer/CMakeLists.txt
  dMasterServer/Start.cpp
  dMasterServer/Start.h
  dNet/dServer.cpp
  resources/masterconfig.ini
Labels: enhancement, A-exec

#1712 chore: readme updates
  README.md
Labels: docs

#1704 fix: update player container on shutdown
  dChatServer/ChatPacketHandler.cpp
  dChatServer/ChatServer.cpp
  dChatServer/PlayerContainer.cpp
  dChatServer/PlayerContainer.h
Labels: A-chat-server
